# Machine Failure Grouping
* This notebook separates the training data by whether the machine failure is true (1) or false (0), and saves these as csv files for use in plotting (with Tableau in the case of this project)

In [18]:
import numpy as np
import pandas as pd

## Split the Data into Training and Testing Sets

In [19]:
# Load the test data into a Pandas DataFrame
df_train = pd.read_csv("https://machine-failure-data-20230822-craiguo.s3.us-west-2.amazonaws.com/train.csv")
df_train.drop(columns=['id', 'Product ID'], inplace=True)

# Display sample data
df_train.head(10)

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0
5,M,298.4,308.9,1429,42.1,65,0,0,0,0,0,0
6,L,299.6,311.0,1413,42.9,156,0,0,0,0,0,0
7,L,298.7,310.1,1609,38.1,67,0,0,0,0,0,0
8,L,297.7,308.8,1578,35.2,13,0,0,0,0,0,0
9,L,300.5,312.3,1447,53.3,98,0,0,0,0,0,0

In [20]:
# Separate by value of 'Machine failure'
df_machine_failure_0 = df_train[df_train['Machine failure']==0]
df_machine_failure_1 = df_train[df_train['Machine failure']==1]

In [21]:
# Review the dataframe for machine failure false
df_machine_failure_0.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
0,L,300.6,309.6,1596,36.1,140,0,0,0,0,0,0
1,M,302.6,312.1,1759,29.1,200,0,0,0,0,0,0
2,L,299.3,308.5,1805,26.5,25,0,0,0,0,0,0
3,L,301.0,310.9,1524,44.3,197,0,0,0,0,0,0
4,M,298.0,309.0,1641,35.4,34,0,0,0,0,0,0

In [22]:
# Review the dataframe for machine failure true
df_machine_failure_1.head()

,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Machine failure,TWF,HDF,PWF,OSF,RNF
130,L,303.9,312.8,1345,56.5,21,1,0,0,0,0,0
164,L,302.5,310.4,1307,54.8,174,1,0,1,0,0,0
228,M,300.7,309.7,1878,27.9,20,1,0,0,0,0,0
236,L,297.3,308.6,1258,61.8,144,1,0,0,0,1,0
247,L,303.0,311.3,1341,51.0,174,1,0,1,0,0,0

In [23]:
# Saving machine failure false to csv
df_machine_failure_0.to_csv("machine_failure_false.csv", index=False)

# Saving machine failure true to csv
df_machine_failure_1.to_csv("machine_failure_true.csv", index=False)